<div id="blog-show">

  <div class="container top-title">
    <h2 class="title-ja">ブログ</h2>
    <p class="title-en">BLOG</p>
  </div>

  <div class="blog">
    <div class="container">
      <div class="blog-title">
        <h1><%= @blog.title %></h1>
      </div>

      <div class="blog-date">
        <span class="cat-tag">にこにこBLOG</span>
        <span class="date"><%= @blog.updated_at.strftime("%Y/%m/%d")  %></span>
      </div>

      <% if !@blog.image.blank? %>
        <div class='eyecatch'>
          <%= image_tag @blog.image %>
        </div>
      <% end %>

      <div class="blog-content">
        <%= @blog.content.try(:html_safe) %>

        <p>**********************************************************</p>
        <p>施設名：にこにこ鍼灸整骨院</p>
        <p>住所　：秋田県大仙市花館柳町１－３５</p>
        <p>電話番号：０１８７－７３－５２８０</p>
        <p>公式ホームページ：<%= link_to "http://2ko2.com/index.php" do %>http://2ko2.com/index.php<% end %></p>
        <p>にこにこグループ整骨院：<%= link_to "http://www.karadasenmon.com/" do %>http://www.karadasenmon.com/<% end %></p>
        <p>エキテン：<%= link_to "https://www.ekiten.jp/shop_6768095/" do %>https://www.ekiten.jp/shop_6768095/<% end %></p>
      </div>

    </div>
  </div>
</div>
