<div id="header">
  <div class="header-content">
    <h1 id="site-logo">
      <%= link_to root_path do %>
        <%= image_tag 'logo.jpg' %>にこにこ鍼灸整骨院
      <% end %>
    </h1>

    <nav>
      <ul>
        <li><%= link_to '診療案内', diagnosis_path %><p class="english">DIAGNOSIS</p></li>
        <li><%= link_to '交通事故治療', traffic_accident_path %><p class="english">TRAFFIC ACCIDENT</p></li>
        <li><%= link_to '当院のご案内', about_path %><p class="english">ABOUT</p></li>
        <li><%= link_to '患者様の声', reviews_path %><p class="english">REVIEWS</p></li>
        <li><%= link_to 'ブログ', articles_path %><p class="english">BLOG</p></li>
        <li><%= link_to '採用情報', recruitment_path %><p class="english">RECRUITMENT</p></li>
      </ul>
      <div class="nav_icon">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </nav>
  </div>
</div>
