<div id="header">
  <div class="header-content">
    <h1 id="site-logo">
      <%= link_to root_path do %>
        <%= image_tag 'logo.jpg' %>にこにこ鍼灸整骨院
      <% end %>
    </h1>

    <nav>
      <ul>
        <li><%= link_to diagnosis_path do %>診療案内<span class="english">DIAGNOSIS</span><% end %></li>
        <li><%= link_to traffic_accident_path do %>交通事故治療<span class="english">TRAFFIC ACCIDENT</span><% end %></li>
        <li><%= link_to about_path do %>当院のご案内<span class="english">ABOUT</span><% end %></li>
        <li><%= link_to reviews_path do %>患者様の声<span class="english">REVIEWS</span><% end %></li>
        <li><%= link_to blogs_path do %>ブログ<span class="english">BLOG</span><% end %></li>
        <li><%= link_to recruitment_path do %>採用情報<span class="english">RECRUITMENT</span><% end %></li>
      </ul>
      <div class="nav_icon">
        <span class="nav-icon-bar"></span>
        <span class="nav-icon-bar"></span>
        <span class="nav-icon-bar"></span>
        <span class="nav-icon-text">MENU</span>
      </div>
    </nav>
  </div>
</div>
