<div id="about">

  <div class="container top-image">
    <div class="row top-image-layer">
      <h2 class="top-image-title">当院のご案内</h2>
      <p class="title-en">ABOUT</p>
    </div>
  </div>

  <div class="introduction">
    <div class="container">
      <div class="row">
        <h2 class="grayhead">代表挨拶</h2>
        <div class="col-md-4 col-sm-4 col-xs-12 col-md-push-8"><%= image_tag 'daihyo-prof.png' %></div>
        <div class="col-md-8 col-sm-8 col-xs-12 col-md-pull-4 wow slideInLeft">
          <p>みなさん、こんにちは。にこにこグループ代表の菅原照太と申します。<br>
          私たち、にこにこＧＲＯＵＰは、整骨院事業を柱に、鍼灸院・デイサービス・訪問マッサージ・巻き爪ケア事業・トレーナー派遣事業など、地域の皆様の「生涯健康」「脱介護」を目標とし、健康産業に参入しております。
          整骨・鍼灸・訪問マッサージ部門は、主に地域の皆様から、痛みの治療や健康維持、スポーツや仕事でのケガ、及び交通事故治療など、幅広くご利用頂いております。<br>
          デイサービス・巻き爪ケア部門は、介護予防・転倒予防の観点から主に高齢者の方々を中心にご利用頂いております。<br>
          トレーナー派遣事業についてはＪ３のプロサッカーチーム「ブラウブリッツ秋田」と提携をしており、選手への怪我の治療やユース年代への試合帯同及びサッカー大会でのメデイカルサポート、大学サッカーチームでのトレーナーサポート、秋田県選抜国体少年サッカーのトレーナーなど幅広い分野で活動しております。
          また、スポーツトレーナーを目指す学生を応援しておりますので、毎年のように学生インターンの受け入れも積極的に行っております。<br>
          このＨＰ内では主に「にこにこ鍼灸整骨院」のご紹介をさせて頂きますが、このように弊社関連部門を通じて地域の皆様が生涯健康でありますよう微力ながら応援させていただきたいと思っております。<br>
          今後ともどうぞよろしくお願いいたします。</p>
          <h3 class="bluebar">経歴</h3>
          <p>柔道整復師<br>足爪矯正士<br>JATAC認定アスレチックトレーナー<br>(一社)キネシオテーピング協会東北支部指導員<br>KOBA式体幹バランストレーニングマスターライセンス（S級）（サッカー専門ライセンス）</p>
        </div>
      </div>
    </div>
  </div>

  <div class="introduction">
    <div class="container">
      <div class="row">
        <h2 class="grayhead">トレーナー提携</h2>
        <div class="col-md-5 col-sm-5 col-xs-12"><%= image_tag 'team-logo.jpg' %></div>
        <p class="col-md-7 col-sm-7 col-xs-12 wow slideInRight">にこにこグループ整骨院では、サッカーＪ３ブラウブリッツ秋田とメディカル部門で提携をしております。
          その関係からブラウブリッツ秋田ユース・Ｊｒユースへは当グループ整骨院からトレーナーが派遣されております。
          もちろんトップチームのＪリーガーも多数来院されますのでチームのトレーナーや医療機関との情報共有も常に行っております。
        </p>
      </div>
    </div>
  </div>

  <div class="image-slider">
    <div><%= image_tag 'gallery-1.jpg' %></div>
    <div><%= image_tag 'gallery-2.jpg' %></div>
    <div><%= image_tag 'gallery-3.jpg' %></div>
    <div><%= image_tag 'gallery-4.jpg' %></div>
    <div><%= image_tag 'gallery-5.jpg' %></div>
    <div><%= image_tag 'gallery-6.jpg' %></div>
    <div><%= image_tag 'gallery-7.jpg' %></div>
  </div>

  <div class="trainer">
    <div class="layer-transparent">
      <div class="container">
        <h2 class="whitehead">トレーナー派遣</h2>
        <p class="wow slideInLeft">にこにこグループ整骨院ではトレーナー派遣及び講演、セミナーなどを受け付けております。<br>
          料金や内容など詳細につきましてはお近くの【にこにこグループ整骨院】までお問い合わせください。<br><br>
          ≪これまでの実績≫<br>
          ・トレーナー派遣<br>
          サッカースクール<br>
          大学サッカーチーム<br>
          サッカーフェステイバルトレーナーブース<br>
          秋田県選抜国体少年サッカー<br>
          ＢＢトップチーム合宿<br>
          ＢＢユース<br>
          ＢＢＪｒユース<br>
          Ｊドリームストレーナー<br><br>
          ・講演及びセミナー<br>
          ブラウブリッツ秋田主催の栄養セミナー・ストレッチ指導・スポーツ現場での応急処置<br>
          スポーツ少年団主催のテーピングセミナー<br>
          Ｊ３リーグ試合前のストレッチイベント<br>
          クラブチーム選手への体幹トレーニング指導<br>
          ＢＢユースへのトレーニング指導<br>
        </p>
      </div>
    </div>
  </div>

</div>

<script>
$(function() {
  $('.image-slider').slick({
    slidesToShow: 3,
    slidesToScroll: 1,
    autoplay: true,
    pauseOnHover: false,
    autoplaySpeed: 0,
    cssEase: 'linear',
    speed: 5000,
    centerMode: true,
    centerPadding: '160px',

    responsive: [{
      breakpoint: 992,
        settings: {
          centerPadding: '40px',
        }
      }, {
      breakpoint: 640,
        settings: {
          centerPadding: '20px',
          slidesToShow: 2,
        }
      }
    ]
  });
});

new WOW({
  offset: 200,
}).init();
</script>
