<div id="diagnosis">

  <div class="container top-image">
    <div class="row top-image-layer">
      <h2 class="top-image-title">診療案内</h2>
      <p class="title-en">DIAGNOSIS</p>
    </div>
  </div>

  <div id="first-time">
    <div class="container">
      <h2 class="grayhead">初めての方へ</h2>
      <p>骨折・脱臼・肉離れ・捻挫・ギックリ腰・突き指・巻き爪・ムチウチ・寝違え、打撲・肩こり・腰痛・坐骨神経痛・交通事故治療‥など、中には保険治療対象外のものもありますが、自費治療として治療は行えますので、お身体に不調を感じたらお問い合わせ下さい。</p>
      <div class="treatments">
        <ul>
          <li class="treatment"><%= link_to bruise_path, type: :buton do %><span>捻挫・打撲</span><% end %></li>
          <li class="treatment"><%= link_to muscle_path, type: :buton do %><span>肉離れ</span><% end %></li>
          <li class="treatment"><%= link_to sleeping_path, type: :buton do %><span>寝違え</span><% end %></li>
          <li class="treatment"><%= link_to lumbago_path, type: :buton do %><span>腰痛</span><% end %></li>
          <li class="treatment"><%= link_to pain_shoulder_path, type: :buton do %><span>五十肩</span><% end %></li>
          <li class="treatment"><%= link_to knee_pain_path, type: :buton do %><span>ひざ痛</span><% end %></li>
          <li class="treatment"><%= link_to back_pain_path, type: :buton do %><span>ギックリ腰</span><% end %></li>
          <li class="treatment"><%= link_to stiff_shoulder_path, type: :buton do %><span>肩こり</span><% end %></li>
          <li class="treatment"><%= link_to tenosynovitis_path, type: :buton do %><span>腱鞘炎</span><% end %></li>
          <li class="treatment"><%= link_to hallux_valgus_path, type: :buton do %><span>外反母趾</span><% end %></li>
          <li class="treatment"><%= link_to flat_foot_path, type: :buton do %><span>扁平足</span><% end %></li>
          <li class="treatment"><%= link_to posture_path, type: :buton do %><span>姿勢崩れ</span><% end %></li>
        </ul>
      </div>
    </div>
  </div>

  <div id="time-table">
    <div class="container">
      <h2 class="grayhead">診療受付時間</h2>
      <table>
        <thead>
          <tr>
            <th class="col-md-4 col-sm-4 col-xs-4">にこにこ鍼灸整骨院</th>
            <td class="col-md-4 col-sm-4 col-xs-4">月〜金</td>
            <td class="col-md-3 col-sm-3 col-xs-3">土・日</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th class="col-md-4 col-sm-4 col-xs-5">午前の部</th>
            <td class="col-md-4 col-sm-4 col-xs-4">8:30~12:00</td>
            <td class="col-md-3 col-sm-3 col-xs-3">✕</td>
          </tr>

          <tr>
            <th class="col-md-4 col-sm-4 col-xs-5">午後の部</th>
            <td class="col-md-4 col-sm-4 col-xs-4">15:00〜19:00</td>
            <td class="col-md-3 col-sm-3 col-xs-3">✕</td>
          </tr>
        </tbody>
      </table>

      <table>
        <thead>
          <tr>
            <th class="col-md-4 col-sm-4 col-xs-5">にこにこ整骨院</th>
            <td class="col-md-4 col-sm-4 col-xs-4">月〜金</td>
            <td class="col-md-3 col-sm-3 col-xs-3">土・日</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th class="col-md-4 col-sm-4 col-xs-5">午前の部</th>
            <td class="col-md-4 col-sm-4 col-xs-4">8:30~12:00</td>
            <td class="col-md-3 col-sm-3 col-xs-3">✕</td>
          </tr>

          <tr>
            <th class="col-md-4 col-sm-4 col-xs-5">午後の部</th>
            <td class="col-md-4 col-sm-4 col-xs-4">14:30〜18:30</td>
            <td class="col-md-3 col-sm-3 col-xs-3">✕</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div id="price">
    <div class="container">
      <h2 class="grayhead">料金のご案内</h2>
      <h3 class="bluebar">交通事故治療の場合</h3>
      <table>
        <tr>
          <th>初診</th>
          <td>0円</td>
        </tr>
        <tr>
          <th>2回目以降</th>
          <td>0円</td>
        </tr>
      </table>

      <h3 class="bluebar">訪問マッサージの場合</h3>
      <table>
        <tr>
          <th>健康保険適用1割負担の方</th>
          <td>300~600円/回</td>
        </tr>
        <tr>
          <th>身体障害者手帳をお持ちの方</th>
          <td>0円</td>
        </tr>
      </table>

      <h3 class="bluebar">その他の治療メニュー</h3>
      <table>
        <tr>
          <th>筋肉調整</th>
          <td>300~1,000円</td>
        </tr>
        <tr>
          <th>骨盤調整</th>
          <td>2,000円</td>
        </tr>
        <tr>
          <th>肩こり調整</th>
          <td>1,500円</td>
        </tr>
        <tr>
          <th>外反母趾治療</th>
          <td>1,000〜2,000円</td>
        </tr>
        <tr>
          <th>巻き爪治療</th>
          <td>5,400~6,480円/指</td>
        </tr>
        <tr>
          <th>鍼治療</th>
          <td>100円/本</td>
        </tr>
        <tr>
          <th>足ツボ</th>
          <td>500円</td>
        </tr>
        <tr>
          <th>超音波治療</th>
          <td>500円</td>
        </tr>
        <tr>
          <th>脳ツボ</th>
          <td>500円</td>
        </tr>
        <tr>
          <th>レーザー治療</th>
          <td>0円</td>
        </tr>
        <tr>
          <th>エコー画像装置</th>
          <td>0円</td>
        </tr>
      </table>
    </div>
  </div>

  <div id="flow-of-treatment">
    <div class="container">
      <h2 class="grayhead">施術の流れ</h2>
      <div class="flow-chart">
        <div class="steps">
          <div class="step row">
            <div class="number col-md-1 col-sm-1 col-xs-2">1.</div>
            <div class="content col-md-11 col-sm-11 col-xs-10">
              <p class="title">問診・状態確認</p>
              <p>身体の不調な箇所や日頃の生活習慣、痛みなどをお伺いして症状の根本原因を見極めます。</p>
            </div>
          </div>
          <div class="step row">
            <div class="number col-md-1 col-sm-1 col-xs-2">2.</div>
            <div class="content col-md-11 col-sm-11 col-xs-10">
              <p class="title">症状・治療方針の説明</p>
              <p>保険適応の治療や自費治療まで、患者様の症状に合った治療方針や治療期間をご提案させて頂きます。</p>
            </div>
          </div>
          <div class="step row">
            <div class="number col-md-1 col-sm-1 col-xs-2">3.</div>
            <div class="content col-md-11 col-sm-11 col-xs-10">
              <p class="title">施術</p>
              <p>その場しのぎの施術でなく、「根本改善」「早期回復」を目的とした治療を行います。</p>
            </div>
          </div>
          <div class="step row">
            <div class="number col-md-1 col-sm-1 col-xs-2">4.</div>
            <div class="content col-md-11 col-sm-11 col-xs-10">
              <p class="title">状態確認・日常生活のアドバイス</p>
              <p>施術前との状態を比べて効果を実感して頂いたうえで、症状改善に向けて日常生活で気をつけて頂きたいことをご紹介します。</p>
            </div>
          </div>
          <div class="step row">
            <div class="number col-md-1 col-sm-1 col-xs-2">5.</div>
            <div class="content col-md-11 col-sm-11 col-xs-10">
              <p class="title">次回予約・お会計</p>
              <p>お帰りの際は次回ご予約も承ります。</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="visit-treatment">
    <div class="container">
      <h2 class="grayhead">訪問マッサージ</h2>
      <h3>対象となる方</h3>
      <p>歩行が困難な方、歩行介助が必要な方、脳梗塞等の後遺症で手や足にマヒがある方、退院後もリハビリが必要な方、等。</p>
      <p>マッサージによってねたきり防止、関節拘縮の予防、現存機能の維持、床ずれ予防、血液リンパの循環改善、むくみの改善、筋肉痛の緩和、などが期待できます。</p>

      <h3>ご利用までの流れ</h3>
      <div class="flow-chart">
        <div class="steps">
          <div class="step row">
            <div class="number col-md-1 col-sm-1 col-xs-2">1.</div>
            <div class="content col-md-11 col-sm-11 col-xs-10">
              <p class="title">お問い合わせ窓口に、お電話にてご確認ください。</p>
              <p>まずはお電話（<a href="tel:0187637220">0187-63-7220</a>）にてお問い合わせ下さい。内容を詳しくご説明させて頂きます。また、訪問範囲には制限があります。</p>
            </div>
          </div>
          <div class="step row">
            <div class="number col-md-1 col-sm-1 col-xs-2">2.</div>
            <div class="content col-md-11 col-sm-11 col-xs-10">
              <p class="title">同意書にてお申し込み</p>
              <p>マッサージをご希望の場合は担当者が必要書類（同意書）を持ってご自宅までお伺いします。</p>
            </div>
          </div>
          <div class="step row">
            <div class="number col-md-1 col-sm-1 col-xs-2">3.</div>
            <div class="content col-md-11 col-sm-11 col-xs-10">
              <p class="title">マッサージ開始</p>
              <p>国家資格を持った専門マッサージ師がご自宅までお伺いし、在宅マッサージを行います（健康保険適用）。</p>
            </div>
          </div>
          <div class="step row">
            <div class="number col-md-1 col-sm-1 col-xs-2">4.</div>
            <div class="content col-md-11 col-sm-11 col-xs-10">
              <p class="title">定期訪問</p>
              <p>週1～3回程度、患者様のご自宅までお伺いし、マッサージを行います。</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="feature">
    <div class="layer-transparent">
      <div class="container">
        <h2 class="grayhead">患者様一人ひとりに寄り添った治療を</h2>
        <p class="wow slideInLeft">当グループ整骨院では初診時の聞き取り（問診）を大切にしております。<br>
        そのうえで患者様にあった治療方針や治療期間をご提案させて頂いております。
        特に根拠のある説明を大切にしておりますので、成長期におけるお子様のスポーツ障害などには超音波画像装置を用いご家族様を前に説明させて頂いております。<br>
        必要に応じて整形外科など医療機関をご紹介しております。</p>
      </div>
    </div>
  </div>
</div>

<script>
new WOW({
  offset: 200,
  mobile: false,
}).init();
</script>
