<div id="top-page">
  <div id="top-img">
    <%= image_tag 'demo.jpg' %>
    <%= image_tag 'demo2.jpg' %>
    <%= image_tag 'demo3.jpg' %>
  </div>

  <div class="about-clinic">
    <div class="container">
      <div class="row">
        <h2 class="grayhead">治療理念</h2>
        <h3>患者様一人ひとりに合わせた治療を目指して</h3>
        <p>わたし達は地域の皆様の縁の下の力持ちとなりえるよう「生涯健康」「脱介護」を目指します。</p>
        <p>身体バランスなど全身を診て「根本改善」までのご提案をさせていただき、患者様一人ひとりに合った治療を行います。</p>
      </div>
      <div class="row">
        <div class="appeal-points">
          <div class="appeal-point col-md-4 col-sm-6">
            <div class="bg">
              <%= image_tag 'monshin.jpeg' %>
              <p class="description">幅広い対応症例</p>
            </div>
            <p>身体バランスなど全身を診て「根本改善」までのご提案をさせていただき、患者様一人ひとりに合った治療を行います</p>
          </div>
          <div class="appeal-point col-md-4 col-sm-6">
            <div class="bg">
              <%= image_tag 'kouresha.jpg' %>
              <p class="description">患者様に寄り添った治療</p>
            </div>
            <p>身体バランスなど全身を診て「根本改善」までのご提案をさせていただき、患者様一人ひとりに合った治療を行います</p>
          </div>
          <div class="appeal-point col-md-4 col-sm-6">
            <div class="bg">
              <%= image_tag 'soccer-team.jpg' %>
              <p class="description">地域との繋がり</p>
            </div>
            <p>身体バランスなど全身を診て「根本改善」までのご提案をさせていただき、患者様一人ひとりに合った治療を行います</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="notifications">
    <div class="container">
      <div class="row">
        <h2 class="bluebar">お知らせ</h2>
        <div class="box">
          <ul>
            <% @notifications.each do |n| %>
             <% if n.has_content %>
              <li><span class="date"><%= n.updated_at.strftime("%Y/%m/%d") %></span><%= link_to n.title, notification_path(n.id), class: "notification-title" %></li>
             <% else %>
              <li><span class="date"><%= n.updated_at.strftime("%Y/%m/%d") %></span><span class="notification-title"><%= n.title %></span></li>
             <% end %>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="treatments">
    <div class="container">
      <div class="row">
        <h2 class="grayhead">診療案内</h2>

        <div class="treatment col-md-4 col-sm-6">
          <%= link_to root_path do %>
            <%= image_tag 'jiko-thumb.jpg' %>
            <p class="treatment-name">交通事故治療</p>
            <p class="treatment-content">交通事故の治療をします。交通事故の治療をします。交通事故の治療をします。</p>
          <% end %>
        </div>
        <div class="treatment col-md-4 col-sm-6">
          <%= link_to root_path do %>
            <%= image_tag 'sports-thumb.jpg' %>
            <p class="treatment-name">スポーツ障害治療</p>
            <p class="treatment-content">交通事故の治療をします。交通事故の治療をします。交通事故の治療をします。</p>
          <% end %>
        </div>
        <div class="treatment col-md-4 col-sm-6">
          <%= link_to root_path do %>
            <%= image_tag 'massage-thumb.jpg' %>
            <p class="treatment-name">訪問治療</p>
            <p class="treatment-content">交通事故の治療をします。交通事故の治療をします。交通事故の治療をします。</p>
          <% end %>
        </div>
      </div>
      <div class="row">
        <div class="treatment col-md-4 col-sm-6">
          <%= link_to root_path do %>
            <%= image_tag 'hari-thumb.jpg' %>
            <p class="treatment-name">鍼治療</p>
            <p class="treatment-content">交通事故の治療をします。交通事故の治療をします。交通事故の治療をします。</p>
          <% end %>
        </div>
        <div class="treatment col-md-4 col-sm-6">
          <%= link_to root_path do %>
            <%= image_tag 'kega-thumb.jpg' %>
            <p class="treatment-name">怪我・痛み</p>
            <p class="treatment-content">交通事故の治療をします。交通事故の治療をします。交通事故の治療をします。</p>
          <% end %>
        </div>
        <div class="treatment col-md-4 col-sm-6">
          <%= link_to root_path do %>
            <%= image_tag 'katakori-thumb.jpg' %>
            <p class="treatment-name">肩こり・腰痛</p>
            <p class="treatment-content">交通事故の治療をします。交通事故の治療をします。交通事故の治療をします。</p>
          <% end %>
        </div>
      </div>
      <div class="row">
        <div class="treatment col-md-4 col-sm-6">
          <%= link_to root_path do %>
            <%= image_tag 'makitsume-thumb.jpg' %>
            <p class="treatment-name">外反母趾治療</p>
            <p class="treatment-content">交通事故の治療をします。交通事故の治療をします。交通事故の治療をします。</p>
          <% end %>
        </div>
        <div class="treatment col-md-4 col-sm-6">
          <%= link_to root_path do %>
            <%= image_tag 'makitsume-thumb.jpg' %>
            <p class="treatment-name">巻き爪治療</p>
            <p class="treatment-content">交通事故の治療をします。交通事故の治療をします。交通事故の治療をします。</p>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="sports-treatment">
    <div class="layer-transparent">
      <div class="container">
        <div class="row">
          <h2 class="whitehead">スポーツ治療ならおまかせください</h2>
          <p><あああああああああああああああああ</p>
          <p><あああああああああああああああああ</p>
          <p><あああああああああああああああああ</p>
          <p><あああああああああああああああああ</p>
          <p><あああああああああああああああああ</p>
          <p><あああああああああああああああああ</p>
          <p><あああああああああああああああああ</p>
        </div>
      </div>
    </div>
  </div>


  <div class="f-questions">
    <div class="container">
      <div class="row">
        <h2 class="grayhead">よくある質問</h2>

        <div class="question col-md-4 col-sm-6">
          <p class="title">整骨院にはどういった時に行けばいいんですか？</p>
          <p class="answer">骨折・脱臼・肉離れ・捻挫・ギックリ腰・突き指・ムチウチ・寝違え、打撲・肩こり・腰痛・坐骨神経痛‥など、中には保険治療対象外のものもありますが、自費治療として治療は行えます。</p>
        </div>
        <div class="question col-md-4 col-sm-6">
          <p class="title">整骨院でも交通事故の治療も行えますか？</p>
          <p class="answer">できます。治療内容、保険会社への対応までしっかりお伝えします。</p>
        </div>
        <div class="question col-md-4 col-sm-6">
          <p class="title">交通事故の治療で病院との併用は可能ですか？</p>
          <p class="answer">できます。病院への通院の仕方もお教えします。</p>
        </div>
      </div>
      <div class="row">
        <div class="question col-md-4 col-sm-6">
          <p class="title">通院ペースはどのくらいですか？</p>
          <p class="answer">症状にもよりますが、治療から2，3日空いてしまうと治療効果が無くなってしまうので1週間3～4回がいいと思います。</p>
        </div>
        <div class="question col-md-4 col-sm-6">
          <p class="title">整骨院と整体はどう違うのですか？</p>
          <p class="answer">整骨院は、柔道整復師という国家資格を持っている施術者が保険を使い、治療を行っている所です。（保険治療以外の自費治療も行っています。）</p>
        </div>
        <div class="question col-md-4 col-sm-6">
          <p class="title">整骨院ではどういう治療を行いますか？</p>
          <p class="answer">ケガの種類にもよりますが、腰痛であれば、牽引療法、低周波、マッサージで筋肉を緩めて、痛みをとる治療になります。</p>
        </div>
      </div>
      <div class="row">
        <div class="question col-md-4 col-sm-6">
          <p class="title">外反母趾などケガでないものも診てくれますか？</p>
          <p class="answer">診ます。本院では足矯正テープや矯正靴下などがあります。患者さまの足型をとり、患者さまにあったプランを提供させていただきます。</p>
        </div>
        <div class="question col-md-4 col-sm-6">
          <p class="title">偏平足と言われたのですが、足の形をみてもらうことは可能ですか？</p>
          <p class="answer">大丈夫です。本院には足矯正用インソール（中敷き）があります。</p>
        </div>
        <div class="question col-md-4 col-sm-6">
          <p class="title">整骨院でレントゲンを撮ってもらうことはできますか？</p>
          <p class="answer">できません。レントゲンは整形外科など病院でしか行えません。しかし本院にはエコー診断ができ、レントゲンでは映らない骨折などがわかります。</p>
        </div>
      </div>
      <div class="row">
        <div class="question col-md-4 col-sm-6">
          <p class="title">整骨院では、鍼治療は行えますか？</p>
          <p class="answer">本院では行えます。こちらには鍼灸師がいますので治療と併用して鍼も行えます。</p>
        </div>
      </div>
      </div>
    </div>
  </div>

</div>
