<%= form_for @blog, url: path, method: method, class: 'form-standard' do |f| %>
  <div class='field'>
    <%= f.label :title, 'タイトル' %>
    <%= f.text_field :title, class: 'form-control', id:'title'  %>
  </div>
  <div class='field'>
    <%= f.label :image, 'アイキャッチ画像' %>
    <%= f.file_field :image %>
  </div>
  <div class='field'>
    <%= f.label :content, '内容' %>
    <%= f.text_area :content, id:'froala_editor' %>
  </div>
  <div class='field'>
    <%= f.label :status, 'ステータス' %>
    <%= f.select :status, Blog.statuses.keys.to_a, {}, class: 'form-control', id:'status' %>
  </div>
  <div class='field'>
    <%= f.submit "保存する", class: 'btn btn-primary' %>
    <%= link_to '削除', "/admin/blogs/#{@blog.id}", method: :delete, class: 'btn btn-danger', style: 'float: right', data: {confirm: '本当に記事を削除しますか？'} %>
  </div>
<% end %>

<!-- Include external JS libs. -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/codemirror.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/mode/xml/xml.min.js"></script>
<!-- Include Editor JS files. -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.7.3/js/froala_editor.pkgd.min.js"></script>

<script type="text/javascript">
  $(function() {
    $('#froala_editor').froalaEditor({
      // Set the image upload URL.
      imageUploadURL: '/admin/blogs/upload_image',
      imageUploadMethod: 'POST',
      language: 'ja',
      toolbarButtons: ['fullscreen','bold','italic','underline','strikeThrough','|','fontSize','color','|',
      'paragraphFormat','align','orderedList','unorderedList','formatOL','formatUL','outdent','indent','quote','-',
      'insertLink', 'insertImage', 'embedly','insertTable', '|', 'emoticons', 'specialCharacters', 'insertHR',
      'selectAll','clearFormatting','|','print','spellChecker','html','undo','redo'
    ]
    })
  });
</script>
