<!DOCTYPE html>
<html>
<head>
  <%= render 'layouts/common' %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= render 'application/favicon' %>
</head>
<body data-controller="<%= controller_name %>" data-action="<%= action_name %>">
  <%= render 'shared/header' %>
  <div id='wrapper'>
    <%= yield %>
  </div>
  <%= render 'shared/footer' %>
  <%= render 'shared/ga' %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <%= javascript_include_tag "slick.min.js", "data-turbolinks-track" => true %>
</body>
</html>
